.custom-scrollbar::-webkit-scrollbar-track {
    background: blue;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3b82f6; /* Blue color */
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1d4ed8; /* Darker blue on hover */
}

.mont {
  font-family: 'Montserrat', sans-serif;
}


.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Adjust arrow color */
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8); /* Background for better visibility */
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid 2px black
}
/* Add smooth transition for opacity */
.loading-logo {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

/* .loading-logo.show {
  opacity: 1;
} */

.swiper-button-prev {
    
  /* Push arrow outside the card */
}

.swiper-button-next {
  right: -50px; /* Push arrow outside the card */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 215, 0, 0.9); /* Hover effect */
}
/* Custom styles for range inputs */
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #2563eb; /* blue-600 */
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.thumb::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #2563eb; /* blue-600 */
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

/* Hide default slider appearance */
.thumb {
  pointer-events: none;
}
