@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar-track {
    background: blue;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3b82f6; /* Blue color */
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1d4ed8; /* Darker blue on hover */
}
/* Add smooth transition for opacity */
.loading-logo {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .loading-logo.show {
    opacity: 1;
  }
  